<!DOCTYPE html>
<html>

<head>
    <title>SMS Bridge</title>

    <link
        rel="stylesheet"
        href="/static/style.css">
</head>


<body>

<div class="header">
    
    <div class="logo">
        SMS Bridge 😋
    </div>

    <div class="status">
        🟢 Connected
    </div>

</div>

<h2 id="count">
    Notifications
</h2>



<div id="notifications">
{% for notification in notifications | reverse %}

<div class="card">

    <div class="app">
        {{ notification.app }}
    </div>

    <div class="title">
        {{ notification.title }}
    </div>

    <div class="message">
        {{ notification.message }}
    </div>

    <div class="time">
    🕒 {{ notification.formatted_time }}
    </div>

</div>
{% endfor %}

</div>

<script>

const socket = new WebSocket("ws://192.168.1.7:8000/ws");

socket.onopen = () => {
    console.log("Connected to WebSocket");
};

socket.onclose = () => {
    console.log("Disconnected");
};

socket.onerror = (error) => {
    console.error(error);
};

socket.onmessage = (event) => {

    const notification = JSON.parse(event.data);

    console.log(notification);

    const container = document.getElementById("notifications");


    const card = document.createElement("div");

    card.className = "card";


    if (notification.is_otp) {

    card.innerHTML = `
        <div class="app">🔐 OTP</div>

        <div class="title">${notification.title}</div>

        <div class="message"
             style="font-size:34px;
                    font-weight:bold;
                    color:#18a558;
                    letter-spacing:3px;">
            ${notification.otp}
        </div>

        <button class="copy-btn" title="Copy OTP">
            ⧉
        </button>

        <div class="time">
            🕒 ${notification.formatted_time}
        </div>
    `;

} else {

    card.innerHTML = `
        <div class="app">${notification.app}</div>

        <div class="title">${notification.title}</div>

        <div class="message">${notification.message}</div>

        <div class="time">
            🕒 ${notification.formatted_time}
        </div>
    `;

}

if (notification.is_otp) {

    const button = card.querySelector(".copy-btn");

    button.onclick = () => {

        navigator.clipboard.writeText(notification.otp);

        button.innerText = "✓";

        setTimeout(() => {
            button.innerText = "⧉";
        }, 1500);

    };

}

    container.prepend(card);

};

</script>

</body>

</html>